div#section-1 form .form-field {
  margin-bottom: 25px;
}

div#section-1 form .form-field input,
div#section-1 form .form-field select {
  min-height: 40px;
  border: 0px;
  border-radius: 0px;
}

body {
  position: relative;
}

a.footer_cta {
  position: fixed;
  position: fixed;
  right: -52px;
  bottom: calc(50% - 142px);
  transform: rotate(90deg); 
  border: 1px solid #004aad;
  text-decoration: none;
  padding: 7px 25px;
  border-radius: 0px;
  font-size: 15px;
  color: #fff;
  background: #004aad;
  font-weight: 600;
  z-index: 9;
}

a.footer_cta:hover {
  background: #5e17eb;
  color: #fff;
  border-color: #5e17eb;
}


.css-1ydt60a:hover {
  background: #5e17eb !important;
  color: #fff;
  border-color: #5e17eb !important;
}

div#request_demo_sec1 .css-17zywvr .labels-are-inside .lp-form-react__input {
  color: #020020;
  border-radius: 0px;
  min-height: 45px;
}

div#request_demo_sec1 .css-17zywvr .labels-are-inside {
  margin-bottom: 30px;
}

div#request_demo_sec1 .css-17zywvr .lp-form-react__description {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

div#request_demo_sec1 .css-17zywvr .lp-form-react__privacy-link {
  padding: 0px 0;
  margin-left: 5px;
}

div#site-footer .lp-text-react p a:hover {
  color: #9132ef;
}

div#site-footer .lp-text-react p a {
  text-decoration: none;
}

div#site-footer .lp-text-react p {
  margin-bottom: 16px;
}

div#site-footer .css-e18fbe {
  margin: 0px 5px;
  border-radius: 50%;
  font-size: 20px;
}

div#brands img,
section.css-99w0wr img,
section.css-1vakle3 img,
.css-1i1382g img,
.css-113csm6 img {
  filter: brightness(0%);
}

section.css-m8b02s,
.css-1mqerho,
.css-1uvbxm4,
section.css-27iry,
section.css-170uqr9,
.css-ljpynw,
.css-1f9vgss {
  background: #2e31cb;
  background: -webkit-linear-gradient(to right, #004aad, #5e17eb);
  background-image: linear-gradient(to right, #004aad, #5e17eb);
}

section.css-1uk9g8f,
.css-119g8cl,
.css-il4od5,
.css-1l8cc72,
.css-1tl7usw,
.css-1tl7usw,
.css-1dhw2oa,
.css-wzo6ns,
.css-wzo6ns,
.css-wzo6ns,
.css-wzo6ns,
.css-xv69n3,
.css-1d4o2n5 {
  background: #2e31cb;
  background: -webkit-linear-gradient(to right, #004aad, #5e17eb);
  background-image: linear-gradient(to right, #004aad, #5e17eb);
}

section.css-evhnrd {
  filter: brightness(60%);
}

section.css-27iry ul li:before,
section.css-170uqr9 ul li:before {
  color: #fff;
}

div#home-service a span,
div#home-service a {
  text-decoration: none;
}

div#home-service a span,
div#home-service a {
  text-decoration: none;
}


div#contact_client_services>.layout {
  background: #fff;
  box-shadow: 1px 1px 25px 20px #0000000a;
  padding: 50px;
}

div#contact_client_services .css-kkcmmo .labels-are-inside .lp-form-react__input {
  color: #020020;
  border-radius: 0px;
  min-height: 45px;
}

div#contact_client_services-mobile>.layout {
  background: #fff;
}

ul.lp-list--checkmark li:before {
  color: #fff;
}

@media(max-width:1192px) {
  .css-p62xri .flexed-header .widget {
    padding: 8px;
}
}

@media (max-width: 768px) {

  div#banner_part h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
  }

  .css-1ecjpg9 {
    min-height: 150px !important;
  }

  div#request_demo_sec1 .css-1mxjr57 {
    margin-bottom: 15px;
  }

  div#request_demo_sec1 .css-17zywvr .lp-form-react__description {
    align-items: flex-start;
    margin-bottom: 15px;
    flex-direction: column;
  }

  div#request_demo_sec1 .css-17zywvr .lp-form-react__privacy-link {
    margin-left: 0px;
  }

  div#site-footer .flex--12:first-child .css-heteji .css-8f3iaw div.row .css-8x0d4x:last-child {
    display: none;
  }

  div#site-footer .css-heteji .css-8f3iaw div.row .css-8x0d4x {
    max-width: 33.3333%;
    flex-basis: 33.3333%;
  }

  div#site-footer .css-heteji .css-8f3iaw div.row .css-8x0d4x:last-child {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  div#request_demo_sec1 {
    padding: 30px 15px;
  }

  div#contact_client_services>.layout {

    padding: 30px 10px;
  }
  a.footer_cta {
    font-size: 12px;  
    right: -37px;   
    padding: 5px 15px;
  }

}

@media (max-width: 375px) {
  div#site-footer h2 {
    font-size: 16px;
  }

  div#site-footer .lp-text-react p {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
  }


  div#site-footer .css-e18fbe {
    font-size: 16px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 360px) {

  /* a.footer_cta {
    bottom: 110px;
    font-size: 12px;
    padding: 6px 15px;
    right: 10px;
  } */
}